/*
Billy Mills
CSCI 344
project2.css
Feb 20 2012
*/


html {
height: 100%;
}

body {

background-color: #9ACD32;
height: 100%;
}

.container {
background-color: #D7EBAD;
border-right:2px solid #000000;
border-left:2px solid #000000;
}

#main {
min-height:100%;
}

#search_box {
margin-top:100px;
background-color:#000000;
padding:25px;
-webkit-border-radius: 0px 15px 15px 0px;
}

#tweets {
padding: 25px;
}

h1 {
color: white;
}